@page "/control"
@inject IJSRuntime Js

<MudGrid Spacing="1">
    <MudItem xs="9">
        <MudCard>
            <MudCardHeader Class="px-2 pt-2 pb-0">
                <MudText Typo="Typo.h6">Chart</MudText>
            </MudCardHeader>
            <MudCardContent Class="pa-0">
                <MudChart ChartType="MudBlazor.ChartType.Line" ChartSeries="@series" XAxisLabels="@labels" Width="100%" Height="300px"></MudChart>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="3">
        <MudGrid Spacing="1">
            <MudItem xs="12">
                <MudCard>
                    <MudCardHeader Class="px-2 pt-2 pb-0">
                        <MudText Typo="Typo.h6">Button</MudText>
                    </MudCardHeader>
                    <MudCardContent Class="pa-2">
                        <MudGrid Spacing="0">
                            <MudItem xs="6" Class="d-flex align-center justify-center mud-width-full">
                                <MudButton Variant="Variant.Filled" Color="Color.Success" Class="rounded-pill" Style="width: 80px; height: 80px; font-size: 3em;">切</MudButton>
                            </MudItem>
                            <MudItem xs="6" Class="d-flex align-center justify-center mud-width-full">
                                <MudButton Variant="Variant.Filled" Color="Color.Error" Class="rounded-pill" Style="width: 80px; height: 80px; font-size: 3em;">入</MudButton>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12">
                <MudCard>
                    <MudCardHeader Class="px-2 pt-2 pb-0">
                        <MudText Typo="Typo.h6">Switch</MudText>
                    </MudCardHeader>
                    <MudCardContent Class="pa-2">
                        <MudGrid Spacing="0">
                            <MudItem xs="12">
                                <MudSwitch @bind-Checked="@switch1" Label="スイッチ1" Color="Color.Info" UnCheckedColor="Color.Dark"/>
                            </MudItem>
                            <MudItem xs="12">
                                <MudSwitch @bind-Checked="@switch2" Label="スイッチ2" Color="Color.Info" UnCheckedColor="Color.Dark"/>
                            </MudItem>
                            <MudItem xs="12">
                                <MudSwitch @bind-Checked="@switch3" Label="スイッチ3" Color="Color.Info" UnCheckedColor="Color.Dark"/>
                            </MudItem>
                            <MudItem xs="12">
                                <MudSwitch @bind-Checked="@switch4" Label="スイッチ4" Color="Color.Info" UnCheckedColor="Color.Dark"/>
                            </MudItem>
                            <MudItem xs="12">
                                <MudSwitch @bind-Checked="@switch5" Label="スイッチ5" Color="Color.Info" UnCheckedColor="Color.Dark"/>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="9">
        <MudCard>
            <MudCardHeader Class="px-2 pt-2 pb-0">
                <MudText Typo="Typo.h6">Data</MudText>
            </MudCardHeader>
            <MudCardContent Class="pa-2">
                <MudSimpleTable Hover="true" Dense="true" Striped="true">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Value1</th>
                        <th>Value2</th>
                        <th>Value3</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var row in rows)
                    {
                        var values = row.Split();
                        var value1 = Double.Parse(values[2]);
                        var value2 = Double.Parse(values[3]);
                        var value3 = Double.Parse(values[4]);
                        <tr>
                            <td>@values[0]</td>
                            <td>@values[1]</td>
                            <td class="@ViewHelper.ValueColorStyle(value1)" style="text-align: end;">@value1.ToString("F2")</td>
                            <td class="@ViewHelper.ValueColorStyle(value2)" style="text-align: end;">@value2.ToString("F2")</td>
                            <td class="@ViewHelper.ValueColorStyle(value3)" style="text-align: end;">@value3.ToString("F2")</td>
                            <td>@values[5]</td>
                        </tr>
                    }
                    </tbody>
                </MudSimpleTable>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="3">
        <MudCard>
            <MudCardHeader Class="px-2 pt-2 pb-0">
                <MudText Typo="Typo.h6">Gauge</MudText>
            </MudCardHeader>
            <MudCardContent Class="pa-2 d-flex align-center justify-center mud-width-full">
                <canvas id="gauge" width="196" height="196"></canvas>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

@code {
    private readonly List<ChartSeries> series = new();
    private readonly ChartOptions options = new();
    private string[] labels = default!;

    private bool switch1 = true;
    private bool switch2 = true;
    private bool switch3 = true;
    private bool switch4 = true;
    private bool switch5 = true;

    private readonly string[] rows =
    {
        "1 ○○○○○ 100.00 0.00 -100.00 TypeA",
        "2 ○○○○○ 0.00 -100.00 100.00 TypeB",
        "3 ○○○○○ -100.00 100.00 0.00 TypeC",
        "4 ○○○○○ 100.00 0.00 -100.00 TypeA",
        "5 ○○○○○ 0.00 -100.00 100.00 TypeB"
    };

    protected override void OnInitialized()
    {
        var now = DateTime.Now;
        labels = Enumerable.Range(1, 8).Select(x => now.AddMinutes(x - 8).ToString("HH:mm")).ToArray();
        series.Add(new ChartSeries
        {
            Name = "チャンネル1",
            Data = new double[] { 60, 65, 68, 70, 74, 74, 72, 74 }
        });
        series.Add(new ChartSeries
        {
            Name = "チャンネル2",
            Data = new double[] { 80, 88, 90, 91, 92, 91, 90, 90 }
        });
        series.Add(new ChartSeries
        {
            Name = "チャンネル3",
            Data = new double[] { 89, 89, 91, 92, 92, 92, 92, 91 }
        });
        series.Add(new ChartSeries
        {
            Name = "チャンネル4",
            Data = new double[] { 86, 85, 86, 90, 90, 92, 99, 0 }
        });

        options.YAxisTicks = 400;

        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Js.InvokeVoidAsync("initControl");
        }
    }
}
